<!DOCTYPE html>
<html>
<head>
	<title>Quora - Your Sessions Profile Page</title>
		<link rel="stylesheet" type="text/css" href="/css/application.css">
</head>

<body>
	<body style="background-color:#80A2A8">
		<h3 style= "text-align: center"><h3>

<form action="/session" method="POST">
	<div>
		<input type="email" placeholder="Email" name="user[email]" value="agaegaw@email.com" >
	</div>

	<div>
		<input type="password" placeholder="Password" name="user[password]" value="123455" >
	</div>

	<div>
		<input type="submit" value="Sign Up">
	</div>
</form>