<!DOCTYPE html>
<html>
<head>
	<title>Quora - Sign up</title>
		<link rel="stylesheet" type="text/css" href="/css/application.css">
</head>

<body>
	<body style="background-color:#80A2A8">
		<h1 style= "text-align: center">Sign up below</h1>

<form action ="/users" method ="POST" style="text-align:center"> 
	<div>
		<label>Username: </label>
		<input id = "login" type="text" name="user[username]" placeholder="Username"></div>
		<br>
		<br>
	<div>
		<label>Email:</label>
		<input id = "email" type="email" name="user[email]" placeholder = "Email" size="50"/>
	</div>
	<br>
	<br>
	<div>
	<label>Password: </label>
	<input id = "password" type="password" name="user[password]" placeholder = "Enter your password" size="50" />
	</div>
	<br>
	<br>
	<div>
	<input id = "submitbutton" type="submit" value="Signup" style="text-align:center">
	</div>
​</form>
<br>
<br>

<% if @error != nil %>
<h2>Opps: <%= @error %></h2>
<% end %>