<!DOCTYPE html>
<html>
<head>
	<title>Quora - The Best Answer To Any Question</title>
	<link rel="stylesheet" type="text/css" href="css/application.css">
</head>
<body>
	<body style="background-color:#80A2A8">
	<h1 style="text-align: center">Quora</h1>
	<h2 style="text-align: center">The best answer to any question</h2>

<form action ="/session" method ="POST" style="text-align:center" > 
	<label>Username: </label>
	<input id = "login" type="text" name="user[username]" placeholder="Username">
	<br>
	<br>
	<label>Password: </label>
	<input id = "password" type="password" name="user[password]" placeholder="Password">
	<br>
	<br>
	<input id = "submitbutton" type="submit" value="Login">
​</form>

<% if flash[:error] %>
	<h2><%= flash[:error] %></h2>
<% end %>

<br>

<p style="text-align: center">Haven't signed up before? Not to worry!</p> 
<a href="/users/new"><p style="text-align:center">Sign up here!</a>





	