<!DOCTYPE html>
<html>
<head>
	<title>Quora - The Best Answer To Any Question</title>
	<link rel="stylesheet" type="text/css" href="/css/application.css">
</head>
<body>
	<body style="background-color:#80A2A8">
	<h1 style="text-align: center">Quora</h1>
	<h2 style="text-align: center">The best answer to any question</h2>
	


<p style="text-align: center">New to Quora? Sign up here!</p>

​
<form action ="/signup" method ="POST" style="text-align:center"> 
	<label>Fullname:</label>
	<input id = "fullname" type="text" name="user[username]" placeholder = "Fullname" size="50"/>
	<br>
	<br>
	<label>Email: </label>
	<input id = "email" type="text" name="user[email]" placeholder = "Email" size="50">
	<br>
	<br>
	<label>Password: </label>
	<input id = "password" type="password" name="user[password]" placeholder = "Enter your password" size="50" />
	<br>
	<br>
	<input id = "submitbutton" type="submit" value="Signup" style="text-align:center">
​</form>
<br>
<br>





<p style="text-align: center">Already signed up? Log in here!</p>
​
<form action ="/newsfeed" method ="POST" style="text-align:center" > 
	<label>Username: </label>
	<input id = "login" type="text" name="user[username]" placeholder="Username">
	<br>
	<br>
	<label>Password: </label>
	<input id = "password" type="password" name="user[password]" placeholder="Password">
	<br>
	<br>
	<input id = "submitbutton" type="submit" value="Login">
​</form>

<br>






	